* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

a, h1, h2, h3, h4, button {
  color: #282828;
}

nav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 20%;
  min-height: 8vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}

nav .nav-links a, nav .nav-links button {
  margin-left: 2rem;
}

nav .logo {
  font-size: 1rem;
  font-weight: bold;
}

nav .buy-button {
  cursor: pointer;
  padding: 0.2rem 2rem;
  font-size: 0.6rem;
  color: white;
  border: none;
  border-radius: 1rem;
  background: #3056f5;
}

nav .buy-button:hover {
  background: #294bd3;
}

.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-page .first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 10rem;
}

.first-page .first-page-title {
  font-size: 1.5rem;
}

.first-page .first-page-subtitle {
  font-size: 3rem;
}

.first-page .intro-video {
  position: absolute;
}

.second-page {
  min-height: 125vh;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-page .smoke-video {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.second-page .second-text {
  padding: 5% 30%;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.third-page {
  position: relative;
  padding: 0% 15%;
}

.third-page .product-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: white;
}

.third-page .phone-size {
  font-size: 2rem;
  font-weight: bold;
}

.third-page .pro-size {
  text-align: right;
}

.third-page .max-size {
  text-align: left;
}

.third-page .product-images {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.third-page .product-images .large-phone {
  position: relative;
  -webkit-transform: translateX(40%) scale(0.7);
          transform: translateX(40%) scale(0.7);
  z-index: 1;
}

.third-page .product-images .small-phone {
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(-40%) scale(0.7);
          transform: translateX(-40%) scale(0.7);
}

.third-page .retina-line {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -8%);
          transform: translate(-50%, -8%);
  font-size: 0.8rem;
  font-weight: bold;
}
/*# sourceMappingURL=Style.css.map */