*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
a,h1,h2,h3,h4,button{
    color: rgb(40,40,40);
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20%;
    min-height: 8vh;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;

    a{
        text-decoration: none;
        color: black;
        font-size: 0.9rem;
    }

    .nav-links{
        a,button{
            margin-left: 2rem;
        }
    }
    .logo{
        font-size: 1rem;
        font-weight: bold; 
    }
    .buy-button{
        cursor: pointer;
        padding: 0.2rem 2rem;
        font-size: 0.6rem;
        color: white;
        border: none;
        border-radius: 1rem;
        background: #3056f5;
        &:hover{
            background: #294bd3;
        }
    }
}

// First Page
.first-page{
    min-height: 100vh;
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .first-page-text{
        z-index: 2;
        text-align: center;
        padding-bottom: 10rem;
    }
    .first-page-title{
        font-size: 1.5rem;
    }
    .first-page-subtitle{
        font-size: 3rem;
    }
    .intro-video{
        position: absolute;
    }
}

// Second Page
.second-page{
    min-height: 125vh;
    color: rgba(255,255,255, 0.6);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    .smoke-video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .second-text{
        padding: 5% 30%;
        font-size: 3rem;
        font-weight: bold;
        position: relative;
        z-index: 2;
    }
}

// THIRD PAGE
.third-page{
    position: relative;
    padding: 0% 10%;

    .product-text-container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        min-height: 100vh;
        background: white;
    }

    .phone-size{
        font-size: 2rem;
        font-weight: bold;
    }
    .pro-size{
        text-align: right;
    }
    .max-size{
        text-align: left;
    }

    .product-images{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .large-phone{
            position: relative;
            transform: translateX(40%) scale(0.7);
            z-index: 1;
        }
        .small-phone{
            position: relative;
            z-index: 2;
            transform: translateX(-40%) scale(0.7);
        }
    }

    .retina-line{
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translate(-50%, -8%);
        font-size: 0.8rem;
        font-weight: bold;
    }
}

// FOURTH PAGE
.fourth-page{
    min-height: 100vh;
    display: flex;
    position: relative;

    .purchase-left{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        flex: 1;
        background: white;
        .phone-gallery{
            display: flex;    
            align-self: flex-start;
            img{
                transform: scale(0.6);
            }
            .phone-gallery-container{
                min-width: 50vw;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .swatch-container{
            position: relative;
            bottom: 10%;
            text-align: center;
            .swatches{
                img{
                    padding: 0.5rem 0.3rem;
                    cursor: pointer;
                }
            }
            span{
                font-size: 0.8rem;
            }
        }

    }

    .purchase-right{
        min-width: 50vw;
        flex: 1;
        position: relative;
        background: black;

        img{
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%, 0%) scale(0.55);
            transform-origin: bottom;
        }
    }
    .blue{
        z-index: 1;
    }
}

// Fifth Page
.fifth-page{
    min-height: 100vh;

    .product-video{
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .product-info-container{
        position: relative;
        z-index: 2;
        color: white;
        display: flex;
        align-items: center;
        min-height: 100vh;
        justify-content: space-between;
        padding: 0% 8rem;

        .left-info,.right-info{
            width: 20%;
            h3{
                color: rgb(193,193,193);
                padding: 3rem 0rem;
                span{
                    color: rgb(210,210,210);
                    font-size: 1.5rem;
                }
            }
        }
    }

}

// SIXTH PAGE
.sixth-page{
    min-height: 100vh;
    width: 100%;
    padding: 10% 12%;
    justify-content: space-between;
    position: relative;
    display: flex;
    
    .portrait{
        height: 70vh;
    }

    .photo-title{
        font-size: 2rem;
    }
    .photo-subtitle{
        font-size: 2.75rem;
    }

    .phone-video{
        position: absolute;
        bottom: 0;
        left: 40%;
        z-index: 2;
        transform: translate(-40%, 0%);

        img,video{
            position: absolute;
        }

        img{
            z-index: 2;
            bottom: 0;
            left: 0;
            transform: scale(0.8);
        }

        video{
            left: 1rem;
            bottom: 1rem;
            transform: scale(0.8);
            border-radius: 2rem;
        }
    }
}